@using Microsoft.AspNetCore.Components.Forms
@using JobDescriptionGenerator.Forms

<div class="mt-3">
    <label for="radioGroup"><strong>Is this a People Manager?</strong></label>
    <InputRadioGroup @bind-Value="Form.IsManager" id="radioGroup">
        <div>
            <InputRadio id="managerYes" Value="true" />
            <label for="managerYes">Yes</label>

            <InputRadio id="managerNo" Value="false" />
            <label for="managerNo">No</label>
        </div>
    </InputRadioGroup>
    <ValidationMessage For="@(() => Form.IsManager)" />
</div>

@code {
    [Parameter, EditorRequired] public JobDescriptionForm Form { get; set; } = default!;
}
