@using Microsoft.AspNetCore.Components.Forms
@using JobDescriptionGenerator.Forms

<div class="mt-3">
    <label for="jobPurpose"><strong>Job Purpose</strong></label><br />
    <InputTextArea id="jobPurpose" @bind-Value="Form.JobPurpose" class="form-control" rows="4" cols="60"
        placeholder="Describe job purpose..." />
    <ValidationMessage For="@(() => Form.JobPurpose)" />
</div>

@code {
    [Parameter, EditorRequired] public JobDescriptionForm Form { get; set; } = default!;
}
