@page "/"
@inject AppDbContext Db
@inject JobLevelDictionary JobLevelDictionary;

<select @bind="selectedJobFamilyId">
    <option disabled selected value="">-- Select Job Family --</option>
    @foreach (var family in jobFamilies)
    {
        <option value="@family.JobFamilyId">@family.JobFamilyName</option>
    }
</select>

<p>You selected ID: @selectedJobFamilyId</p>

@code {
    private List<JobFamily> jobFamilies = new();
    private int? selectedJobFamilyId;

    protected override async Task OnInitializedAsync()
    {
        jobFamilies = await Db.JobFamilies.ToListAsync();
    }
}
